@import "@/styles/variables.scss";

.cover {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100%;
  clear: both;
  padding: $padding-cover;
  padding-bottom: 100px !important;

  .container::before {
    content: " ";
    display: table;
  }
  .container::after {
    content: " ";
    display: table;
    clear: both;
  }

  .title-container,
  .title {
    display: table;
    width: 100%;
  }

  .title {
    display: table-cell !important;
    vertical-align: middle;
    h1,
    h2 {
      margin: 0;
      padding: 0;
      color: $white;
    }
    h1 {
      margin-bottom: 0px;
      font-size: 100px;
      line-height: 1.5;
      font-family: $font-sacramento;
    }
    h2 {
      font-size: $font-size-heading;
      line-height: 1.5;
      margin-bottom: 30px;
    }
    .btn {
      padding: 15px 20px;
      background: $white !important;
      color: $pink;
      border: none !important;
      font-size: $font-size;
      text-transform: uppercase;
      &:hover {
        background: $white !important;
        box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
      }
    }
  }

  .heading-container {
    h2 {
      font-size: 60px;
      margin-bottom: 10px;
      line-height: 1.5;
      font-weight: bold;
      color: $pink;
      font-family: $font-sacramento;
    }
    span {
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 2px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.4);
    }
    p {
      font-size: 18px;
      line-height: 1.5;
      color: $text-color;
    }
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding: $padding-cover-small;
    .container {
      margin: 0;
      max-width: 100%;
    }
    .title-container,
    .title {
      height: 600px;
    }
    .heading-container h2 {
      font-size: 40px;
    }
  }
}

@media screen and (max-width: 480px) {
  .cover {
    .title-container,
    .title {
      h1 {
        font-size: 60px;
      }
      h2 {
        font-size: $font-size;
      }
    }
  }
}
