@import "./bootstrap.scss";
@import "./lib.scss";
@import "./countdown.scss";

// Fonts
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon/icomoon.eot?6iuir");
  src: url("fonts/icomoon/icomoon.eot?6iuir#iefix") format("embedded-opentype"),
    url("fonts/icomoon/icomoon.ttf?6iuir") format("truetype"),
    url("fonts/icomoon/icomoon.woff?6iuir") format("woff"),
    url("fonts/icomoon/icomoon.svg?6iuir#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

// General
body {
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px;
}

.text-center {
  text-align: center;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
