$link-color: #fff;
$link-padding: 5px 10px;
$size-logo: 40px;
$padding-logo: 40px 0;
$font-sacramento: "Sacramento", Arial, serif;
$padding-cover: 5em 0;
$padding-cover-small: 3em 0;
$padding-footer: 1em 0;
