$white: #fff;
$black: #000;
$pink: rgba(241, 78, 149, 0.8);

$font-size: 16px;
$font-size-heading: 20px;
$font-size-large: 30px;
$font-weight: 400;
$text-color: #828282;

$link-color: #fff;
$link-padding: 5px 10px;
$size-logo: 40px;
$padding-logo: 40px 0;
$font-sacramento: "Sacramento", Arial, serif;
$font-work-sans: "Work Sans", Arial, sans-serif;
$padding-cover: 5em 0;
$padding-cover-small: 3em 0;
$padding-footer: 1em 0;
